---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";

export const getStaticPaths = async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.name + " -"}>
  <section class="container flex py-28">
    <div class="m-auto flex flex-col gap-10">
      <div class="flex flex-col items-center justify-between">
        <h1 transition:name={`project-name-${project.slug}`}>
          {project.data.name}
        </h1>
      </div>

      <div class="grid gap-10 xl:grid-cols-3">
        <a
          href={project.data.url}
          target="_blank"
          rel="noopener"
          aria-label={project.data.name + " link"}
          class="xl:col-span-2"
        >
          <div class="atropos">
            <div class="atropos-scale">
              <div class="atropos-rotate">
                <div class="atropos-inner">
                  <div class="mx-auto w-full">
                    <Image
                      src={project.data.image}
                      width={800}
                      style={{ width: "100%", height: "auto" }}
                      alt={project.data.name}
                      class="project-img"
                      fetchpriority="high"
                      loading="eager"
                      transition:name={`project-image-${project.slug}`}
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="markdown-body space-y-6 text-xl">
          <Content />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  h3 {
    @apply text-xl;
  }

  :global(.markdown-body li a:after) {
    bottom: -10px;
  }
</style>

<script>
  import Atropos from "atropos";
  import "atropos/css/min";

  Atropos({
    el: ".atropos",
    shadow: false,
    highlight: false,
    rotateXMax: 5,
    rotateYMax: 5,
  });
</script>
