---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";

export const getStaticPaths = async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
};

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.name + " -"}>
  <Fade client:visible>
    <h1>
      <a href={project.data.url} target="_blank" rel="noopener">
        {project.data.name}
        <span class="text-xl">↗</span>
      </a>
    </h1>
  </Fade>

  <Fade client:visible delay={0.25}>
    <div class="grid gap-10">
      <a
        href={project.data.url}
        target="_blank"
        rel="noopener"
        aria-label={project.data.name + " link"}
      >
        <Image
          src={project.data.image}
          width={800}
          alt={project.data.name}
          class="w-full max-w-xl rounded-2xl"
          fetchpriority="high"
          loading="eager"
        />
      </a>
      <div class="prose max-w-xl">
        <Content />
      </div>
    </div>
  </Fade>
</Layout>
