---
export const prerender = true;

import { getCollection } from "astro:content";
import { Icon } from "astro-icon";

import Layout from "@layouts/Layout.astro";
import Tool from "@components/Tool.astro";
import Project from "@components/Project.astro";
import TypedText from "@components/TypedText.astro";

const tools = (await getCollection("tools")).sort(
  (a, b) => a.data.order - b.data.order
);

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order
);
---

<Layout>
  <section class="flex py-28 sm:h-screen">
    <div class="m-auto space-y-10 text-center">
      <div>
        <canvas
          id="logo-canvas"
          width="150"
          height="80"
          class="mx-auto h-auto w-1/2 transition duration-500 hover:scale-125"
        ></canvas>
        <h2 class="text-4xl">Hi, I'm Alex — a web developer</h2>
      </div>
      <h3 class="text-2xl">
        <a href="#projects" class="contrast-link">
          My projects <Icon
            pack="tabler"
            name="arrow-down"
            class="mb-1 inline h-6 w-6"
          />
        </a>
      </h3>

      <div class="space-y-5 text-xl">
        <h3 class="text-2xl">Some cool stuff I&apos;ve used:</h3>
        <ul class="space-y-3 sm:columns-2">
          {
            tools.map((tool) => (
              <Tool
                name={tool.data.name}
                slug={tool.data.slug}
                url={tool.data.url}
              />
            ))
          }
        </ul>
      </div>

      <h3 class="text-2xl">
        Feel free to{" "}
        <a href="mailto:me@alexnguyen.co.nz" class="contrast-link">
          say hi <Icon
            pack="tabler"
            name="mailbox"
            class="mb-2 inline h-6 w-6"
          />
        </a>
      </h3>
    </div>
  </section>

  <section id="projects" class="flex flex-col gap-12 py-28">
    <TypedText title="/projects" />

    <div
      class="grid gap-10 text-left md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4"
    >
      {
        projects.map((project) => (
          <Project
            body={project.data.body}
            name={project.data.name}
            slug={project.data.slug}
            description={project.data.description}
            image={project.data.image}
            url={project.data.url}
            source={project.data.source}
            tags={project.data.tags}
          />
        ))
      }
    </div>
  </section>
</Layout>

<script>
  import Zdog from "zdog";

  let isMoving = false;

  const logo = new Zdog.Illustration({
    element: "#logo-canvas",
    zoom: 1,
    dragRotate: true,
    onDragStart: () => (isMoving = false),
    onDragEnd: () => (isMoving = true),
  });

  const logoGroup = new Zdog.Group({
    addTo: logo,
    translate: { z: 20 },
  });

  new Zdog.Shape({
    addTo: logoGroup,
    path: [
      { x: -50, y: 20 },
      { x: 45, y: -40 },
      { x: 40, y: 20 },
    ],
    fill: true,
    stroke: false,
    color: "black",
  });

  new Zdog.Shape({
    addTo: logoGroup,
    path: [
      { x: 25, y: -20 },
      { x: 20, y: 20 },
      { x: -40, y: 20 },
    ],
    fill: true,
    stroke: false,
    color: "#ED1F24",
  });

  function animate() {
    logo.rotate.x = 0; // lock x rotation
    logo.rotate.y += isMoving ? 0.01 : 0;
    logo.updateRenderGraph();
    requestAnimationFrame(animate);
  }

  animate();

  // Animate project cards
  import Atropos from "atropos";

  import "atropos/css/min";

  document.querySelectorAll(".atropos").forEach((element) => {
    Atropos({
      el: element as string,
      shadow: false,
      rotateXMax: 8,
      rotateYMax: 8,
      rotateTouch: false,
    });
  });
</script>
