---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import Tag from "@/components/Tag.astro";
import { Tooltip } from "@/components/Tooltip";

interface Props {
  body: string;
  name: string;
  slug: string;
  description: string;
  image: string;
  url: string;
  source: string;
  tags: string[];
}

const { body, name, slug, description, image, url, source, tags } = Astro.props;

import { getEntry } from "astro:content";
const entry = await getEntry("projects", slug);
const { Content } = await entry.render();
---

<article class="atropos">
  <div class="atropos-scale">
    <div class="atropos-rotate">
      <div class="atropos-inner h-auto">
        <a href={`/project/${slug}`} rel="prefetch"
          ><Image
            src={import(`../assets/images/projects/${slug}.png`)}
            width={500}
            class={"sm:h-60 object-contain bg-white"}
            alt={name}
            loading="lazy"
            transition:name={`project-image-${slug}`}
          /></a
        >

        <div class="mt-5 space-y-1">
          <div class="flex items-center justify-center gap-3">
            <Tooltip client:visible title="View">
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label={name + " link"}
              >
                <Icon pack="tabler" name="external-link" class="h-6 w-6" />
              </a>
            </Tooltip>

            <Tooltip client:visible title="More info">
              <a
                href={`/project/${slug}`}
                aria-label={name + " project page"}
                class="logo"
              >
                <Icon pack="tabler" name="file" class="h-6 w-6" />
              </a>
            </Tooltip>
          </div>
          <h3 class="text-center text-xl font-medium">
            <a
              href={`/project/${slug}`}
              rel="prefetch"
              transition:name={`project-name-${slug}`}
            >
              {name}
            </a>
          </h3>
        </div>

        <div class="flex flex-col items-center gap-4">
          <h4>{description}</h4>

          <div class="flex items-center justify-center gap-3">
            <Icon
              pack="tabler"
              name="tool"
              class="h-5 w-5"
              aria-label="tools icon"
            />
            {tags.map((tag) => <Tag data={tag} />)}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
