---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import Tag from "@components/Tag.astro";
import Tooltip from "@components/Tooltip.astro";

interface Props {
  body: string;
  name: string;
  slug: string;
  description: string;
  image: string;
  url: string;
  source: string;
  tags: string[];
}

const { body, name, slug, description, image, url, source, tags } = Astro.props;

import { getEntry } from "astro:content";
const entry = await getEntry("projects", slug);
const { Content } = await entry.render();
---

<article class="atropos">
  <div class="atropos-scale">
    <div class="atropos-rotate">
      <div class="atropos-inner h-auto">
        <a
          slot="content"
          href={url}
          target="_blank"
          rel="noopener"
          aria-label={name + " link"}
          ><Image
            src={import(`../assets/images/projects/${slug}.png`)}
            format="webp"
            width={500}
            class={"sm:h-60 object-contain bg-white"}
            alt={name}
            loading="lazy"
          /></a
        >

        <div class="mt-5 space-y-1">
          <div class="flex items-center justify-center gap-3">
            <Tooltip title="Check it out" position="top">
              <a
                slot="content"
                href={url}
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label={name + " link"}
              >
                <Icon pack="tabler" name="external-link" class="h-6 w-6" />
              </a>
            </Tooltip>

            <Tooltip title="More info" position="top">
              <a
                slot="content"
                href={`/project/${slug}`}
                aria-label={name + " project page"}
                class="logo"
              >
                <Icon pack="tabler" name="folder" class="h-6 w-6" />
              </a>
            </Tooltip>

            <Tooltip title="Source code" position="top">
              <a
                slot="content"
                href={source}
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label={name + " link"}
                class="logo"
              >
                <Icon pack="tabler" name="code" class="h-6 w-6" />
              </a>
            </Tooltip>
          </div>
          <h3 class="text-center text-2xl">
            <a
              href={`/project/${slug}`}
              aria-label={name + " project page"}
              rel="prefetch"
            >
              {name}
            </a>
          </h3>
        </div>

        <div
          x-data="{
        activeAccordion: '',
        setActiveAccordion(id) {
            this.activeAccordion = (this.activeAccordion == id) ? '' : id
        }
    }"
          class="relative mx-auto w-full overflow-hidden"
        >
          <div x-data="{ id: $id('accordion') }">
            <button
              @click="setActiveAccordion(id)"
              class="flex w-full flex-col items-center justify-center p-3 text-lg"
            >
              <span>{description}</span>
              <Icon
                pack="tabler"
                name="chevron-down"
                class="h-6 w-6 duration-200 ease-out"
                :class="{ '-rotate-180': activeAccordion==id }"
              />
            </button>
            <div x-show="activeAccordion==id" x-collapse x-cloak>
              <div
                class="markdown-body flex justify-center p-3 pt-0 text-lg leading-loose"
              >
                <Content />
              </div>
              <div class="mb-5 flex items-center justify-center gap-3">
                {tags.map((tag) => <Tag data={tag} />)}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
