---
import { getEntries, type CollectionEntry } from "astro:content";

import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import Tag from "@/components/Tag.astro";
import { Tooltip } from "@/components/Tooltip";

interface Props {
  name: string;
  slug: string;
  description: string;
  image: string;
  url: string;
  tags: CollectionEntry<"tags">[];
}

const { name, slug, description, image, url, tags } = Astro.props;

const tagsData = await getEntries(tags);
---

<article class="atropos mx-auto">
  <div class="atropos-scale">
    <div class="atropos-rotate">
      <div class="atropos-inner h-auto">
        <a href={`/project/${slug}`} rel="prefetch"
          ><Image
            src={image}
            width={500}
            class={"project-img object-cover bg-white sm:h-60"}
            alt={name}
            loading="lazy"
            transition:name={`project-image-${slug}`}
          /></a
        >

        <div class="mt-5 space-y-1">
          <div class="flex items-center justify-center gap-3">
            <Tooltip client:visible title="View">
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label={name + " link"}
              >
                <Icon pack="tabler" name="external-link" class="h-6 w-6" />
              </a>
            </Tooltip>

            <Tooltip client:visible title="More info">
              <a
                href={`/project/${slug}`}
                aria-label={name + " project page"}
                class="logo"
              >
                <Icon pack="tabler" name="file" class="h-6 w-6" />
              </a>
            </Tooltip>
          </div>
          <h3 class="text-center text-xl">
            <a
              href={`/project/${slug}`}
              rel="prefetch"
              transition:name={`project-name-${slug}`}
            >
              {name}
            </a>
          </h3>
        </div>

        <div class="flex flex-col items-center gap-4">
          <h4>{description}</h4>

          <div class="relative flex items-center justify-center gap-3">
            <Icon
              pack="tabler"
              name="tool"
              class="absolute -left-8 h-5 w-5"
              aria-label="tools icon"
            />
            {
              tagsData.map(({ slug, data: tag }) => (
                <Tag name={tag.name} slug={slug} url={tag.url} />
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
