---
import { Icon } from "astro-icon";

interface Props {
  name: string;
  slug: string;
  url: string;
}

const { name, slug, url } = Astro.props;
---

<li class="grid grid-cols-2 items-center gap-3 text-lg">
  <a
    href={url}
    target="_blank"
    rel="noopener"
    class="justify-self-end"
    aria-label={`${name} website`}
  >
    <Icon name={slug} class="h-6 w-auto" />
  </a>

  <a
    class="animated-link justify-self-start"
    href={url}
    target="_blank"
    rel="noopener"
  >
    {name}
  </a>
</li>
