---
import { getEntries, type CollectionEntry } from "astro:content";

import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import { cn } from "@/lib/utils";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const tags: CollectionEntry<"tags">[] = await getEntries(project.data.tags);
---

<article
  class="group relative flex h-full max-w-xs flex-1 flex-col rounded-[3rem] border border-slate-200 bg-white p-5 shadow-sm hover:translate-y-1 hover:shadow-md dark:border-slate-800 dark:bg-slate-900"
>
  <div
    class="absolute right-4 top-4 flex gap-2 transition group-hover:opacity-100 sm:opacity-0"
  >
    <a
      href={project.data.url}
      target="_blank"
      rel="noopener noreferrer nofollow"
      title="View"
      class="p-2 text-2xl no-underline hover:no-underline"
      aria-label={project.data.name + " link"}
    >
      ↗
    </a>
  </div>

  <div>
    <a
      href={`/project/${project.slug}`}
      aria-label={`${project.data.name} project page`}
      data-astro-prefetch
    >
      <Image
        src={project.data.cover}
        height={192}
        alt={project.data.name}
        class={cn(
          "mx-auto mb-2 h-[128px] object-contain opacity-0 animate-show",
          project.slug === "vsctrustorgnz" && "dark:invert",
        )}
        loading="lazy"
        transition:name={`project-${project.data.name}-image`}
      /></a
    >

    <div class="mt-auto">
      <h2>
        <a
          href={`/project/${project.slug}`}
          class="link"
          data-astro-prefetch
          transition:name={`project-${project.data.name}-name`}
        >
          {project.data.name}
        </a>
      </h2>

      <div class="flex flex-col items-center gap-4">
        <h3 class="text-sm">{project.data.description}</h3>

        <div class="relative flex items-center justify-center gap-4">
          {
            tags.map(({ slug, data: tag }) => (
              <a
                href={tag.url}
                target="_blank"
                rel="noreferrer noopener nofollow"
                title={tag.name}
                aria-label={tag.name}
              >
                <span class="sr-only">{tag.name}</span>
                {slug === "astro" ? (
                  <>
                    <Icon
                      name="astro"
                      class={"h-6 fill-[#034AD8] dark:hidden"}
                    />
                    <Icon
                      name="astro-dark"
                      class={"hidden h-6 fill-[#034AD8] dark:block"}
                    />
                  </>
                ) : slug === "cloudcannon" ? (
                  <Icon name={slug} class={cn("h-6 fill-[#034AD8]")} />
                ) : (
                  <Icon
                    name={slug}
                    class={cn(tag.name === "Nuxt" ? "h-8" : "h-6")}
                  />
                )}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  article {
    transition-property: box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    animation: animate-in ease-in both;
    animation-timeline: view();
    animation-range: entry 25% cover calc(35% - 10vh);
  }

  @keyframes animate-in {
    from {
      opacity: 0;
      scale: 0.8;
    }
  }
</style>
