---
import { Icon } from "astro-icon";

interface Props {
  name: string;
  slug: string;
  url: string;
}

const { name, slug, url } = Astro.props;
---

<li class="grid grid-cols-2 items-center gap-3 text-lg">
  <a
    href={url}
    target="_blank"
    rel="noopener"
    title={name}
    class="justify-self-end"
    aria-label={`${name} website`}
  >
    {
      slug === "astro" ? (
        <>
          <Icon name="astro" class="h-6 w-auto dark:hidden" />
          <Icon name="astro-light" class="dark-logo h-6 w-auto" />
        </>
      ) : slug === "nodejs" ? (
        <>
          <Icon name="nodejs" class="h-6 w-auto dark:hidden" />
          <Icon name="nodejs-light" class="dark-logo h-6 w-auto" />
        </>
      ) : (
        <Icon name={slug} class="h-6 w-auto fill-[#00ACD7]" />
      )
    }
  </a>

  <a
    class="animated-link justify-self-start"
    href={url}
    target="_blank"
    rel="noopener"
  >
    {name}
  </a>
</li>
