---
import { Icon } from "astro-icon/components";

import ReactIcon from "@/components/ReactIcon.astro";

interface Props {
  name: string;
  slug: string;
  url: string;
}

const { name, slug, url } = Astro.props;
---

<li class="justify-self-center">
  <a
    href={url}
    target="_blank"
    rel="noopener"
    title={name}
    aria-label={`${name} website`}
  >
    <span class="sr-only">{name}</span>
    {
      slug === "astro" ? (
        <>
          <Icon name="astro" class="h-7 w-auto dark:hidden" />
          <Icon name="astro-dark" class="hidden h-7 w-auto dark:block" />
        </>
      ) : slug === "nodejs" ? (
        <>
          <Icon name="nodejs" class="h-7 w-auto dark:hidden" />
          <Icon name="nodejs-dark" class="hidden h-7 w-auto dark:block" />
        </>
      ) : slug === "react" ? (
        <ReactIcon className="h-7" />
      ) : (
        <Icon name={slug} class="h-7 w-auto text-black" />
      )
    }
  </a>
</li>
